<p id="notice"><%= notice %></p>

<h1>Verses</h1>

<table>
  <thead>
    <tr>
      <th>Lyrics</th>
      <th>Artist</th>
      <th>Song</th>
      <th>Album</th>
      <th>Year</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @verses.each do |verse| %>
      <tr>
        <td><%=verse.lyrics%></td>
        <td><%=verse.artist%></td>
        <td><%=verse.song%></td>
        <td><%=verse.album%></td>
        <td><%=verse.year%></td>
        <td><%=verse.score%></td>
        <td><%= link_to 'Show', verse_path(verse.id) %></td>
        <td><%= link_to 'Edit', edit_verse_path(verse) %></td>
        <td><%= link_to 'Destroy', verse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Verse', new_verse_path %>
